.cover {
  width: 100%;
  max-width: 1192px;
  position: relative;
  margin: 92px auto;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
      width: 100%;
      min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
      min-height: 480px;
      margin: 90px auto;
  }
}


@media screen and (max-width: 425px) {
  .cover {
      min-height: 200px;
      margin: 66px 0 64px;
  }
}



