.place__link {
  width: max-content;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 48px;
  color: #FFFFFF;
  transition: 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .place__link {
     padding: 0 16px 32px 0;
  }
}

@media screen and (max-width: 600px) {
  .place__link {
     padding-bottom: 0px;
  }
}
